<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Temperature</h2>
      <h1 id="bigTemperature" data-bind="text: tempText()"></h1>
    </div>
    <div class="col-md-4">
      <h2>Metrics</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="temperature" class="col-sm-4 control-label">Temperature</label>
          <div class="input-group col-sm-3" id="temperature">
            <input type="text" class="form-control" aria-label="Current temperature" disabled="disabled" data-bind="value: temp()">
            <span class="input-group-addon">°C</span>
          </div>
        </div>
        <div class="form-group">
          <label for="low" class="col-sm-4 control-label">Low</label>
          <div class="input-group col-sm-3" id="low">
            <input type="text" class="form-control" aria-label="Highest temperature" disabled="disabled" data-bind="value: low()">
            <span class="input-group-addon">°C</span>
          </div>
        </div>
        <div class="form-group">
          <label for="high" class="col-sm-4 control-label">High</label>
          <div class="input-group col-sm-3" id="high">
            <input type="text" class="form-control" aria-label="Lowest temperature" disabled="disabled" data-bind="value: high()">
            <span class="input-group-addon">°C</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-default" data-bind="click: clear">Clear</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <h2>Alarm</h2>
      <form class="form-horizontal" data-bind="with: alarm">
        <div class="form-group">
          <label for="alarm0" class="col-sm-4 control-label">Low threshold</label>
          <div class="input-group col-sm-4" id="alarm0">
            <input type="text" class="form-control" aria-label="Low bound" placeholder="e.g. 66" data-bind="value: low">
            <span class="input-group-addon">°C</span>
          </div>
        </div>
        <div class="form-group">
          <label for="alarm1" class="col-sm-4 control-label">High threshold</label>
          <div class="input-group col-sm-4" id="alarm1">
            <input type="text" class="form-control" aria-label="High bound" placeholder="e.g. 72" data-bind="value: high">
            <span class="input-group-addon">°C</span>
          </div>
        </div>
        <div class="form-group">
          <label for="alarm2" class="col-sm-4 control-label">Enable sound</label>
          <div  class="col-sm-8" id="alarm2">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="alarm2" data-bind="checked: active">
              </label>
            </div>
          </div>
        </div>
      </form>  
    </div>
  </div>
</div>  

