<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Temperature</h2>
      <h1 id="bigTemperature" data-bind="text: tempText()"></h1>
    </div>
    <div class="col-md-4">
      <h2>Metrics</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="temperature" class="col-sm-4 control-label">Temperature</label>
          <div class="input-group col-sm-4" id="temperature">
            <input type="text" class="form-control" aria-label="Current temperature" disabled="disabled" data-bind="value: temp()">
            <span class="input-group-addon">°C</span>
          </div>
        </div>
        <div class="form-group">
          <label for="low" class="col-sm-4 control-label">Low</label>
          <div class="input-group col-sm-4" id="low">
            <input type="text" class="form-control" aria-label="Highest temperature" disabled="disabled" data-bind="value: low()">
            <span class="input-group-addon">°C</span>
          </div>
        </div>
        <div class="form-group">
          <label for="high" class="col-sm-4 control-label">High</label>
          <div class="input-group col-sm-4" id="high">
            <input type="text" class="form-control" aria-label="Lowest temperature" disabled="disabled" data-bind="value: high()">
            <span class="input-group-addon">°C</span>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default col-sm-offset-4 col-sm-2" data-bind="click: clear">Clear</button>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <h2>Alarm</h2>
      <form class="form-horizontal" data-bind="with: alarm">
        <div class="form-group has-feedback" data-bind="css: {'has-error': low.hasError(), 'has-success': !low.hasError()}">
          <label for="alarm0" class="col-sm-4 control-label">Low threshold</label>
          <div class="col-sm-4" >
            <input type="text" class="form-control" id="alarm0" aria-label="Low bound" placeholder="e.g. 66" data-bind="value: low, valueUpdate: 'afterkeydown'">
            <span class="glyphicon form-control-feedback" data-bind="css: {'glyphicon-remove': low.hasError(), 'glyphicon-ok': !low.hasError()}"></span>
          </div>
        </div>
        <div class="form-group has-feedback" data-bind="css: {'has-error': high.hasError(), 'has-success': !high.hasError()}">
          <label for="alarm1" class="col-sm-4 control-label">High threshold</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="alarm1" aria-label="High bound" placeholder="e.g. 72" data-bind="value: high, valueUpdate: 'afterkeydown'">
            <span class="glyphicon form-control-feedback" data-bind="css: {'glyphicon-remove': high.hasError(), 'glyphicon-ok': !high.hasError()}"></span>
          </div>
        </div>
        <div class="form-group">
          <label for="alarm2" class="col-sm-4 control-label">Sound</label>
          <div class="input-group" id="alarm2">
            <div class="col-sm-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox" aria-label="Active" data-bind="checked: on">
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <canvas data-bind="chart: { type: 'line', data: {
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      datasets: [
        {
          label: 'My First dataset',
          fill: false,
          lineTension: 0.1,
          backgroundColor: 'rgba(75,192,192,0.4)',
          borderColor: 'rgba(75,192,192,1)',
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: 'rgba(75,192,192,1)',
          pointBackgroundColor: '#fff',
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: 'rgba(75,192,192,1)',
          pointHoverBorderColor: 'rgba(220,220,220,1)',
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: temperatureEvents(),
          spanGaps: false
        }
      ],
      options: { observeChanges: true, throttle: 100 }
    }}"></canvas>
    <input type="text" class="form-control" aria-label="Current temperature" disabled="disabled" data-bind="value: temperatureEvents()">
    </div>
  </div>
</div>

