@font-face {
    font-family: "league-gothic-1";
    src: url(/resources/leaguegothic-regular-webfont.ttf) format("truetype");
}

.logo {
    text-transform: uppercase; 
	font-family: "league-gothic-1",Impact,sans-serif;
    font-weight: 125%;
    line-height: 130%;
}

 .navbar-default .navbar-nav > .active{
    color: #000;
   background: #d65c14;
 }

h1, .h1 {
	text-transform: uppercase; 
	font-family: "league-gothic-1",Impact,sans-serif;
	font-size: 136px;
    font-weight: normal;
    line-height: 140px;
    color: #888;
}

h2, .h2 {
	text-transform: uppercase; 
	font-family: "league-gothic-1",Impact,sans-serif;
	font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    color: #888;
    text-align: left;
}

h3, .h3 {
	text-transform: uppercase; 
	font-family: "league-gothic-1",Impact,sans-serif;
	font-size: 18px;
    font-weight: normal;
    line-height: 50px;
    color: #888;
    text-align: left;
}

.center {
    text-align: center;
}

i {
	color: #888;
}
